@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
  --main-color: #d3ad7f;
  --black: #13131a;
  --bg: #010103;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
}

body {
  background: var(--bg);
  height: 300vh;
}

section {
  padding: 2rem 7%;
}

.heading {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 4rem;
}

.heading span {
  color: var(--main-color);
  text-transform: uppercase;
}

/* NAVBAR CSS START */

.header {
  /* background: var(--bg); */
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 1.5rem 7%; */
  /* border-bottom: var(--border); */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header .logo img {
  height: 9rem;
  border-radius: 75px;
}

.header .navbar a {
  margin: 0 1rem;
  font-size: 2rem;
  color: #fff;
}

.header .navbar a:hover {
  color: var(--main-color);
  border-bottom: 0.1rem solid var(--main-color);
  padding-bottom: 0.5rem;
}

/* ----------- NAVBAR  HEADER END------------- */
/* NAVBAR CSS END */

.home {
  /* ;
  width: auto;
  display: flex;
  align-items: center; */
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-auto-rows: 1fr; 
  grid-template-columns: 1fr; 
  gap: 0px 0px; 
  background: url(/images/LearnWithUsHeader.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh
}

.home .content {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-auto-rows: 1fr; 
  grid-template-columns: 1fr; 
  gap: 0px 0px; 
  margin-top: 170px;
}

.home .content h3 {

  font-size: 6rem;
  

  color: #ffffff;

  text-shadow: 0 -1px 4px #fff, 0 -2px 10px #ff0, 0 -10px 20px #ff8000,
    0 -18px 40px #f00;
  color: #ffffff;
}

.home .content p {


  font-size: 16px;

  line-height: 1.8;
  padding: 1rem 0;
  color: #eee;
}

.btn {
  margin-top: 1rem;
  /* display: inline-block; */
  padding: 0.9rem 3rem;
  font-size: 1.9rem;
  color: #fff;
  background: transparent;
  cursor: pointer;
  margin-top: 50px;
  margin-left: 539px;
  margin-right: -400px;
  text-shadow: 0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18,
    0 0 75px #49ff18, 2px 2px 2px rgba(206, 89, 55, 0);
  color: #ffffff;
}

.btn:hover {
  letter-spacing: 0.2rem;
  text-shadow: #fff 0px 0px 15px, #ff2d95 0px 0px 20px, #ff2d95 0px 0px 30px,
    #ff2d95 0px 0px 40px, #ff2d95 0px 0px 50px, #ff2d95 0px 0px 75px,
    2px 2px 2px rgba(206, 89, 55, 0);
  color: #ffffff;
}

.blogs .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.blogs .box-container .box {
  border: var(--border);
}

.blogs .box-container .box .image {
  height: 25rem;
  overflow: hidden;
  width: 100%;
}

.blogs .box-container .box .image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.blogs .box-container .box:hover .image img {
  transform: scale(1.2);
}

.blogs .box-container .box .content {
  padding: 2rem;
}

.blogs .box-container .box .content .title {
  font-size: 2.5rem;
  line-height: 1.5;
  color: #fff;
}

.blogs .box-container .box .content .title:hover {
  color: var(--main-color);
}

.blogs .box-container .box .content span {
  color: var(--main-color);
  display: block;
  padding-top: 1rem;
  font-size: 2rem;
}

.blogs .box-container .box .content p {
  font-size: 1.6rem;
  line-height: 1.8;
  color: #ccc;
  padding: 1rem 0;
}

.btnbox {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background: var(--main-color);
  cursor: pointer;
}

.btnbox:hover {
  letter-spacing: 0.2rem;
}

.footer {
  background: var(--black);
  text-align: center;
}

.footer .share {
  padding: 1rem 0;
}

.footer .share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: #fff;
  border: var(--border);
  margin: 0.3rem;
  border-radius: 50%;
}

.fa-facebook-f:hover {
  background-color: blue;
}
.fa-twitter:hover {
  background-color: royalblue;
}

.fa-instagram:hover {
  background-color: indianred;
}

.fa-linkedin:hover {
  background-color: skyblue;
}

.fa-pinterest:hover {
  background-color: red;
}

.footer .links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
  gap: 1rem;
}

.footer .links a {
  padding: 0.7rem 2rem;
  color: #fff;
  border: var(--border);
  font-size: 2rem;
}

.footer .links a:hover {
  background: var(--main-color);
}

.footer .credit {
  font-size: 2rem;
  color: #fff;
  font-weight: lighter;
  padding: 1.5rem;
}

.footer .credit span {
  color: var(--main-color);
}
